.viewport {
  background: linear-gradient(to bottom, var(--color-background), white);
  height: 100%;
}
/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: var(--color-background); /* matches beige tone */
  font-size: 18pt;
}
.header .center.title {
  font-weight: 600;
  flex: 3;
  text-align: center;
  /* font-size: 22pt; */
}

.header .center.title.app-title {
  font-family: fantasy;
}

.header .left {
  display: flex;
  flex: 1;
  align-items: center;
}

.header .right {
  flex: 1;
}

.header .icons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  stroke-width: 2;
  cursor: pointer;
}

/* summary */
.summary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdfaf7;
  border-radius: 12px;
  padding: 0.8rem 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  margin: 1rem;
}

.stats-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.stats-icon {
  font-size: 1.5rem;
}

.stats-text {
  display: flex;
  flex-direction: column;
}

.stats-label {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: #555;
  gap: 0.2rem;
}

.stats-value {
  font-weight: 700;
  font-size: 1rem;
}

/* footer */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8rem 0;
  background-color: var(--color-background); /* matches light background */
  border-top: 1px solid #eaeaea;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: black;
}

.footer-icon.active::after {
  content: "";
  width: 16px;
  height: 2px;
  background-color: black;
  border-radius: 1px;
  position: absolute;
  bottom: -6px;
}

.plus-btn {
  background-color: black;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* subscriptions */
.subscriptions {
  padding: 1rem;
  font-family: sans-serif;
}

.subscriptions-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.subscriptions-header h2 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.subscriptions-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.subscription-card {
  display: flex;
  border: 1px solid #ddd;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.9),
    rgba(255, 228, 228, 0.4)
  );
  padding: 0.8rem 1rem;
  border-radius: 12px;
}

.sub-left {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo-wrapper {
  background-color: white;
  border-radius: 10px;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-wrapper img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.sub-details {
  display: flex;
  flex-direction: column;
}

.sub-name {
  font-weight: 600;
  font-size: 0.95rem;
}

.sub-info {
  font-size: 0.8rem;
  color: #555;
}

.sub-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sub-price {
  font-weight: 600;
  font-size: 0.9rem;
}

/* add subscriptions */
.save-button {
  position: fixed;
  bottom: 0;
  width: 100%;
}
