.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #f6f0ea; /* matches beige tone */
  font-size: 22pt;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  stroke-width: 2;
  cursor: pointer;
}
